.nav{
    background-color: rgb(111, 235, 111);
    /* line-height: 1.4px; */
    height: 3em;
    width: 100%;
    padding: 20px;
   
}
body{
    background-color: black;
}
b{
    font-weight: bold;
    
}
a{
    color: black;
}

.logIn{
    width:8em;
    height:4em;
    margin-top:2em;
    margin-left: 78em;
    z-index: 1;
    background-color: black;
    color: white;
    border: solid white;
    border-radius: 5px;
}
.logIn:hover{
    width:8em;
    height:4em;
    margin-top:2em;
    margin-left: 78em;
    z-index: 1;
    background-color: white;
    color: black;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
}


.main{
    width:100%;
    height:50em;
    background-image: url('https://cnbl-cdn.bamgrid.com/assets/ae5d2c288cf008ef994c7d360503cbaf2f1cd21c8cbca4b7b904a8595d0114ea/original');
    background-size:cover;
    color:silver;
}
.main a{
    color: white;
}

.huluAndDisney{
    height: 4em;
    width: 15em;
    margin-top:2em;
    background-color: #0682f0;
    color:white;
    font-weight: bold;
    border-radius: 8px;
}
.disneyBundle{
    height: 4em;
    width: 15em;    
    margin-left: 2em;
    margin-top: 2em;
    background-color: #0682f0;
    color:white;
    font-weight: bold;
    border-radius: 8px;
}
.bundleImg{
    width: 14em;
    margin-top: 17em;
    /* margin-left: 2em; */
}
.huluAndDisneyImg{
    width:15em;
    margin-top: 18em;
   
}
.hAndD{
    display: flex;
    flex-direction: column;
    margin-left: 25em;
}
.dBundle{
    display: flex;
    flex-direction: column;
    margin-left: -1em;
    margin-top: 1em;
   
}
.mainbuttons{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
footer{    
    display: flex;    
    text-align: center;
    display: block;   
    font-size: 14px;   
    background-color: black;
    color:silver;
    margin-bottom: 0px;
    height: 20em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.9;
    
}
footer img{
    width:5em;
    height:5em;   
    margin-left: auto;
    margin-right:auto;
   
}
footer span{
    margin-right: 2em;
}
footer a{
    color: silver;
    text-decoration: none;
}

.language{
    width:6em;
}
.newmovies{
width:100%;
height:50em;
display:flex;
justify-content: space-between;
align-items: center;
display: block;
margin-left: auto;
margin-right:auto;
box-sizing: content-box;
flex-direction: column;
}
.section2{
    display:flex;
    justify-content: space-evenly;
    font-weight: bold;
   
}
.section2 .link{
    color: white;
}